*{
	padding					:0px;
	margin					:0px;
}
/* dropdown выпадающий список */
ul li{
	display					:inline-block;
}
ul li:hover ul {
	display					:block;
} 

ul li ul{
	padding-top				:5px;
	display					:none;
}

ul li ul li{
	display					:block;
}
input {
    border: 1px solid #B5A4A4;
    margin: 3px 1px 0;
    padding: 1px 3px 3px;
    border-radius: 3px;
}
input:hover{
    background-color: #F3F0E0;
}
/* Обводки */
.border{
	background				:#EDEBDF;
	padding			        :5px;
	border					:1px solid #5C0D12;
}

p{
	padding-bottom			:5px;
}
/* стили модального окна */
.popup {
	top						:5%;
	right					:0;
	left					:0%;
	z-index					:20;
	margin					:auto;
	width					:85%;
	min-width				:320px;
	max-width				:600px;
/* фиксированное позиционирование, окно стабильно при прокрутке */
	position				:absolute;
	padding					:15px;
	background				:#E3E0D1;
	border					:5px solid #F3F0E0;
	border-radius			: 10px;
}
/* формируем кнопку закрытия */
.close {
	top						:-10px;
	right					:-10px;
	width					:20px;
	height					:20px;
	position				:absolute;
	padding					:0;
	border					:2px solid #ccc;
	-webkit-border-radius	:15px;
	-moz-border-radius		:15px;
	-ms-border-radius		:15px;
	-o-border-radius		:15px;
	border-radius			:15px;
	background-color		:rgba(61, 61, 61, 0.8);
	-webkit-box-shadow		:0px 0px 10px #000;
	-moz-box-shadow			:0px 0px 10px #000;
	box-shadow				:0px 0px 10px #000;
	text-align				:center;
	text-decoration			:none;
	font-weight				:bold;
	-webkit-transition		:all ease .8s;
	-moz-transition			:all ease .8s;
	-ms-transition			:all ease .8s;
	-o-transition			:all ease .8s;
	transition				:all ease .8s;
}
.close:before {
	color					:rgba(255, 255, 255, 0.9);
	text-shadow				:0 -1px rgba(0, 0, 0, 0.9);
}
.close:hover {
	background-color		:rgba(252, 20, 0, 0.8);
}
/* Styles the close link, adds the slide down transition */
a.lightbox-close {
	right					:0;
	top						:0;
}
/* Styles the close link, adds the slide down transition */
a.lightbox-back {
	margin					:auto;
	bottom					:0;
}
/* Styles the close link, adds the slide down transition */
a.lightbox-next {
	margin					:auto;
	bottom					:0;
	right					:0;
}
a.lightboxBtn{
	position				:absolute;
	animation				:morph 5s linear 1s infinite;
	background				:red;
	width					:100px;
	height					:100px;
}
@keyframes morph{
	0%{
 		background-color	:red
  	}
 	25%{
 		background-color	:green
  	}
 	50%{
 		background-color	:blue
  	}
 	80%{
 		background-color	:white
	}
 	100%{
 		background-color	:red
	}
}

.lightbox-target:target img {
	max-height				:100%;
	max-width				:100%;
}
/* modal form */
/* Header */
.modal-header {
	padding					:15px;
	border-bottom			:1px solid #F3F0E0;
	word-wrap				:break-word;
}

/* body */
.modal-body {
	padding-top				:5px;
	word-wrap				:break-word;
}
