.border{
    background:white;
    border-radius: 4px;
    box-shadow: 0 1px 0 0 #d3d9de,0 0 0 1px #e7e8ec;
}
/* Ссылка */
*|*:link{
	color:#2a5885;
	text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
input[type="text"],input[type="number"],input[type="input"], input[type="password"], input[type="tel"], textarea, select {
    border: 1px solid #d3d9de;
}
input[type="submit"]{
    padding: 7px 16px 8px;
    margin: 0;
    cursor: pointer;
    text-align: center;
    background: 0 0;
    background-color: #5181b8;
    border: 0;
    border-radius: 4px;
    color: #ffffff;
}
